@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,400&display=swap');


:root {
    --primary: #fe2c55;
    --black: #000;
    --text-color: #333;
    --search-btn: 52px;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color) ;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color) ;
    text-decoration: none;
}

// Header

.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    --border-radius: 92px;
}

.inner {
    padding: 0 24px 0 16px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-logo{}

.wrapper-search{
    display: flex;
    align-items: center;
    width: 500px;
    height: 46px;
    background: rgba(22, 24, 35, .06);
    border-radius: var(--border-radius);
    padding-left: 16px;
    border: 1.5px solid transparent;
    position: relative;
    &:focus-within{
        border-color: rgba(22, 24, 3, 0.12);
    }
    &:hover{
        border-color: rgba(22, 24, 3, 0.12);
    }
    &-input{
        flex: 1;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        color: var(--black);
        background: transparent;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .wrapper-search-btn {
        color: #000;
    }
    &-clear,
    &-loading{
        position: absolute;
        right: var(--search-btn);
        top: 50%;
        transform: translateY(-50%);
        margin-right: 16px;
        font-size: 16px;
        color:rgba(22, 24, 35, .12);
    }
    span{
        border: 1px solid rgba(22, 24, 35, .12);
        height: 30px;
        background: rgba(22, 24, 35, .12);
    }
    &-btn{
        width: var(--search-btn);
        height: 100%;
        font-size: 18px;
        border-radius:  0 var(--border-radius)  var(--border-radius)  0;
        color: rgba(22, 24, 35, 0.34);
        &:hover{
            cursor: pointer;
            background: rgba(26, 28, 39, 0.07);
            color: #000;
        }
        &:active{
            background: rgba(22, 24, 35, .06);
        }
    }
}

.wrapper-actions

// Body

.container {
    width: var(--default-layout-width);
    margin: 0 auto;
    display: flex;
}

.slidebar {
    width: 356px;
}

.content {
    flex: 1;
}